@model IndexViewModel
@{
    ViewData["Title"] = "Course Management";
}

<div class="container mt-5">
    <div class="card mb-2">
        <div class="card-header ">
            <button class="btn btn-primary" id="loadCours" style="width:125px;">Cours</button>
            <button class="btn btn-primary" id="loadEtudiants" style="width:125px;">Étudiants</button>
        </div>
        <div class="grid-container"></div>
    </div>
</div>

@section Scripts{
    <script src="~/js/coursesection.js" defer></script>
}

